body{
  margin: 0px;
  padding: 0px;
}

.dn-infor-section{
  margin: 0px;
  padding: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dn-section{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-image: url('https://images.unsplash.com/photo-1515942479748-a59a935bbef4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGRhcmslMjBzcGFjZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
}

.dn-game-section{
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.myCvs{
  margin: 0px;
  padding: 0px;
}

.dn-h1{
  margin-bottom: 0px;
}

.dn-welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dn-glad{
  margin-bottom: 0px;
}

.dn-direction-icon{
  content: url('https://cdn4.iconfinder.com/data/icons/selection-cursors-solid-style/24/direction-button--512.png');
  background-size: cover;
  width: 35px;
  height: 35px;
}

.form-check{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dn-table-wrapper{
  width: 70%;
  margin: 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: white;
}

.dn-table tbody{
  display: block;
  height: 100px;
  overflow-y: scroll;
}

.dn-table tr{
  width:100%;
  display: flex;
}

.dn-table td, .dn-table th{
  flex-basis:100%;
  display: block;
  text-align:left;
}

.dn-effect{
  margin: 10px;
}